
.tecnos-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.tecnos-container *{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.tecnos-container__title{
    display: flex;
    align-items: center;
}


.tecnos-container__list{
    display: flex;
    flex-direction: column;
}
.tecnos-container__list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    transition: left var(--secondary-animation-timer);
    width: auto;
}
.tecno-count{
    opacity: 0;
    position: absolute;
}
.tecno-bar{
    border-radius: 20px;
    background-color: var(--back-color);
    width: 70%;
    height: auto;
    padding: .5vw;
    overflow: hidden;
    filter: blur(10px);
    transition : filter var(--secondary-animation-timer);
}
.tecno-bar-fill{
    position: relative;
    padding: inherit;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background-color: var(--base-color);
    left: -100%;
    transition: left var(--secondary-animation-timer);
}