.scroll-charger{
    --self-width : 100vw;
    position : fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--self-width);
    height: 2vh;
    right : calc(50vw - var(--self-width)/2);
    top : 99.5vh;
    background-color: inherit;
    color : inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow: hidden;
    outline: 2px solid inherit;

    transform: scale(0,0);
    transition: transform 1s, box-shadow .5s;
}

.scroll-charger__charge{
    width: inherit;
    height: inherit;
    background-color: var(--base-color);
    position: absolute;
    left: 0%;
    padding: 20px;
    transition: left 0.1s;
    border-radius: 20px;
}

.scroll-charger__content{
    opacity: 0;
    color : #fff;
    position: relative;
    z-index: 999;
}