.project-item{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 50vw;
    height: 100%;
    outline: 1px solid #000;
}
.project-item *{
    width: auto;
    height: auto;
}
.project-item__name{
    display: flex;
    align-items: center;
}
.project-item__video{
    width: 100%;
    height: 50%;
}