.project-item{
    user-select: none;
    text-decoration: none;
    --margin-hover : 1vw;
    --base-transition-duration : 1s;
    width: 10vw;
    height: 10vh;
    position: relative;
    justify-content: center;
    background-color: var(--back-color);
    border-radius: 20px;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    transform: scale(1,1);
    transition: 
    transform .5s,
    background-color .5s,
    margin .5s, 
    opacity var(--base-transition-duration), 
}


.project-item__name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .7vw;
    transition : font-size 1s;
    position: relative;
    top : 0%;
    width: inherit;
    height: inherit;
    transition: top .5s;
}


.project-item__video{
    top : 0%;
    display: flex;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: inherit;
    height: inherit;
    transition: top .5s;
    object-fit: cover;
}

.project-item__ACTIVATED{
    opacity: 1;
}

.project-item__SHOWED{
    transform: scale(3,3);
}