.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


.about-container *{
    width: auto;
    height: auto;
    position: relative;
}
.about-container__paraph{
    left : 20vw;
    opacity: 0;
    font-size: 1vw;
    margin-right: 3vw ;
    transition: left 1s, opacity 1s;
}


.about-container__paraph__u{
    text-decoration: none;
    margin: 1vw;
    cursor: pointer;
    color : var(--base-color);
    transition: text-shadow .5s;
}

.activated-about-container{
    left : 0;
    opacity: 1;
}


.about-container__paraph__u:hover{
    text-shadow: var(--base-shadow);
}


@media (max-width : 900px){
    .about-container__paraph{
        font-size: var(--responsive-normal-font-size);
    }
}