
.contact-content__paraph{
    font-size: var(--tiny-font-size);
}
.contact-content__title{
    left : -5vw;
    display: flex;
    align-items: center;
}

.paraph-part{
    position: relative;
    opacity: 0;
    font-size: var(--normal-font-size);
    transition-property: opacity top;
    transition-duration: var(--secondary-animation-timer);
    opacity : 0;
}
.contact-content__paraph__p1{
    top: -2vh;
}
.contact-content__paraph__p2{
    top: 4vh;
}
.paraph_activated{
    top : 0vw;
    opacity: 1;
}
.contact-content *{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
