.copy-btn__img{
    transition : transform .5s;
    z-index: 99;
    font-size: var(--normal-font-size);
}
.copy-btn{
    padding: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    opacity: 0;
    top: 20vh;
    border-radius: 8px;
    margin-top:2vh;
    margin-left: 20vw;
    cursor: pointer;
    transition: opacity var(--base-animation-timer), top var(--secondary-animation-timer);
}

.copy-btn__ACTIVATED{
    top: 0vw;
    opacity: 1;
}

.copy-btn__img:hover{
    transform: scale(1.2,1.2);
}

.success-msg{
    font-size: var(--tiny-font-size);
    position: relative;
    width: auto;
    left: -200%;
    transition: left .5s;
}

.success-msg__ACTIVATED{
    position: relative;
    left: 10%;
}


@media (max-width : 900px){
    .copy-btn{
        height: 2vh;
        margin-left: 40vw;
        padding: 4.5vw;
    }

}

@media (max-width : 700px){
    .copy-btn__img{
        font-size: var(--big-font-size);
    }
    .success-msg{
        font-size: var(--normal-font-size);
    }
}


