
.map-item{
    --animation-timing : .2s;
    cursor: pointer;
    font-size: 1vw;
    margin-left: 1vw;
    padding: .5vw;
    border-radius: 10px;
    transition-property: box-shadow;
    transition-duration: var(--animation-timing);
}

.map-item__SELECTED{
    box-shadow: 0 0 0 2px var(--base-color) !important;
}
.map-item:hover{
    box-shadow: 0 0 0 2px #414141;
}

