.map-container{
    --self-width : 30%;
    position: fixed;
    width: var(--self-width);
    top: 2vh;
    left: calc(50% - var(--self-width)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    transition: filter var(--base-animation-timer);
    filter: blur(3px);
}

.map-container__ACTIVATED{
    filter: blur(0px);
}



@media (max-width : 900px) {
    .map-item{
        padding: 2vw;
        font-size: 3vw;
    }
    .map-container{
        --self-width : 80%;
    }
}