.projects-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.projects-container *{
    height: auto;
    width: auto;
}

.projects-container__projects_list{
    max-height:100vh ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}



.projects-container__title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-legend{
    margin: 2em;
}
.project-legend > *{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items : center;
}
.project-legend >*::before{
    --size : .7em;
    content : "";
    height: var(--size);
    width: var(--size);
    margin-right: .5em;
    border-radius: 100%;
    background-color: #0f0;
}

.normal-project-legend::before{
    background-color : var(--normal-project-color);
}
.medium-project-legend::before{
    background-color : var(--medium-project-color);
}
.top-project-legend::before{
    background-color : var(--base-color);
}

.projects-title-father-container{
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
}


@media (max-width : 1300px){
    .projects-container{
        flex-direction: column;
        justify-content: center;
    }
    .projects-title-father-container{
        margin: 10vh;
    }
    .projects-container__projects_list{
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
}



@media (max-width : 400px){

    .projects-container__projects_list{
        margin-top: 10vh;
        gap: .5rem;
    }
}