.project-item{
    box-shadow: var(--base-shadow);
    user-select: none;
    text-decoration: none;
    padding: 3rem 1rem;
    position: relative;
    color : #000;
    background-color: var(--back-color);
    border-radius: 20px;
    opacity: 0;
    cursor: pointer;
    transition : opacity var(--secondary-animation-timer);
}


.project-item__name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--tiny-font-size);
    width: inherit;
    height: inherit;
}

.project-item__ACTIVATED{
    opacity: 1;
}

.modal-container{
    --base-padding : 10px;
    display: flex;
    justify-content: center;
    align-items : center;
    z-index: 1;
    left: 0;
    top: 0;
    opacity : 0;
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .2s;
}

.displayed{
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.project-display{

    box-shadow: var(--base-shadow);
    width: 80%;
    height: 80%;
    background-color : #000;
    border-radius: 20px;
}
.project-display-header{
    margin-top: 3em;
    width: 100%;
    display: flex;
    font-size: var(--normal-font-size);
    flex-direction: row;
    align-items : center;
    justify-content: center;
}
.content-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wil-container{
    max-width: 40%;
    font-size: var(--tiny-font-size);
    overflow-wrap: break-word;
}
.video-container{
    padding-right: var(--base-padding);
    display: flex;
    justify-content: center;
    align-items : center;
    max-width: 30%;
    height: 80%;
}
.project-item__video{
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: var(--base-shadow);
}


.close-button{
    cursor : pointer;
    position: relative;
    left: 30%;
}

.redirect-container{
    margin-top: 40px;
}



@media (max-width : 1000px){
    .project-item{
        border-radius: 10px;
        padding: 2rem .5rem;
    }
}


@media (max-width : 500px){
    .project-item{
        border-radius: 10px;
        padding: 1rem .2rem;
    }
}