.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.about-container__title{
    display: flex;
    justify-content: center;
}
.about-container *{
    width: auto;
    height: auto;
}
.about-container__paraph{
    margin-right: 1vw ;
}

