.map-container{
    --max-blur : 3px;
    position: fixed;
    top: 2vh;
    left: 33vw;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    transition: filter var(--base-animation-timer), top var(--secondary-animation-timer);
    z-index: 9999;
    filter: blur(3px);
}

.map-container__ACTIVATED{
    filter: blur(0px);
}


.map-item{
    --animation-timing : .2s;
    cursor: pointer;
    font-size: 1vw;
    margin-left: 1vw;
    padding: .5vw;
    border-radius: 10px;
    transition:  
    box-shadow var(--animation-timing),
    filter var(--animation-timing);
}

.map-item:hover{
    --margin-animation : 1vw;
    box-shadow: 0 0 0 2px var(--base-color);
}



