.projects-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.projects-container *{
    height: auto;
    width: auto;
}

.projects-container__projects_list{
    max-height:100vh ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1vw;
}



.projects-container__title{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width : 900px){
    .projects-container{
        flex-direction: column;
        justify-content: center;
    }
    .projects-container__title{
        margin-bottom: 2vh;
    }

    .projects-container__projects_list{
        gap: 2vw;
    }
}