.scroll-charger{
    --self-width : 100vw;
    position : fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--self-width);
    height: 2vh;
    right : calc(50vw - var(--self-width)/2);
    top : 100vh;
    background-color: var(--base-color);
    z-index: 99;
    transform: scale(0,0);
    transition: transform 1s, box-shadow .5s, left 0.1s;
    left: 0%;
    padding: 20px;
    box-shadow: 0 -5px 10px var(--base-color);
}

