@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Roboto Mono', monospace;
}

#root{
  overflow-x: hidden;
  overflow-y: hidden;
  --back-color : #a09999;
  --base-color : #551eec;
  --base-animation-timer : 3s;
  --secondary-animation-timer : 1s;
  max-height: 100vh;
}


.main-container *{
  width: 100vw;
  height: 100vh;
}



.title{
  height: auto;
  width: auto;
  position: relative;
  font-family: 'Sacramento', cursive; 
  font-size: 3vw;
  text-align: center;
  opacity: 0;
  left : -50vw;
  transition: 
  opacity var(--base-animation-timer), 
  left var(--secondary-animation-timer),
  top var(--secondary-animation-timer);
}

.title__selected-text{
  font-family: inherit;
  opacity: 0;
  margin : 0;
  transition: 
  margin      var(--secondary-animation-timer), 
  text-shadow var(--secondary-animation-timer), 
  opacity     var(--secondary-animation-timer), 
  color       var(--secondary-animation-timer);
}




.main-container{
  display: flex;
  flex-direction: row;
  width: 500vw;
  height: 100vh;
  position: relative;
  left: 0vw;
  transition: left var(--secondary-animation-timer);
  background: linear-gradient(to right, #fff , var(--back-color) 30%, #fff );
}

