*{
  margin: 0;
  padding: 0;
}

#root{
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace;
  --base-color : rgb(224, 113, 22);
  --back-color : rgb(117, 76, 0);
}

.main-container{
  display: flex;
  flex-direction: row;
  width: 500vw;
  height: 100vh;
  position: relative;
  left: 0vw;
  transition: left .5s;
  background: linear-gradient(to right, #111 , var(--back-color) 30%, #111 );
}

.main-container *{
  width: 100vw;
  height: 100vh;
  color : #fff;
}