*{
  margin: 0;
  padding: 0;
}

#root{
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto Mono', monospace;
  --back-color : rgb(71, 69, 69);
  --base-color : #00d9ff ;
  max-height: 100vh;
}

.main-container{
  display: flex;
  flex-direction: row;
  width: 500vw;
  height: 100vh;
  position: relative;
  left: 0vw;
  transition: left .5s;
  background: linear-gradient(to right, #111 , var(--back-color) 30%, #111 );
}

.main-container *{
  width: 100vw;
  height: 100vh;
  color : #fff;
}

.page-title-selected-text{
  cursor: pointer;
}
