
.tecnos-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tecnos-container *{
    position: absolute;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
.tecnos-container__list *{
    margin: 1vw;
    top : 0vw;
    position: relative;
    transition: top .3s, transform .5s;
}
