.projects-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.projects-container *{
    height: auto;
    width: auto;
}

.projects-container__projects_list{
    max-height:100vh ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1vw;
}



.projects-container__title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    opacity: 0;
    left : -2vw;
    transition : left 1s, opacity 1s;
}
.projects-container__title__made{
    margin : 1vw;
    transition : margin 1s, color 1s, text-shadow 1s;
}

.projects-container__title__ACTIVATED{
    left : 0vw; 
    opacity: 1;
}

.projects-container__title__made__ACTIVATED{
    margin : 2vw;
    text-shadow: 0px 0px 10px var(--back-color);
    color : var(--base-color);
}



