.projects-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.projects-container *{
    height: auto;
    width: auto;
}

.projects-container__projects_list{
    height: 50%;
    width: 50vw;
    list-style: none;
    overflow: scroll;
    background-color: #0f0;

    display: flex;
    flex-direction: row;
    margin-right:1vw ;
}



.projects-container__title{
    display: flex;
    justify-content: center;
}